@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <div class="Homeheading">
		<img src="~/images/ssslogo.png" alt="logo">
		<h1>Sha Sweets & Snacks</h1>
	</div></div>

	<div class="Homedescrp">
		<p><marquee><img src="https://i.postimg.cc/zf6Vy2yv/tamil-text-marquee.png" width="750px" height="50px"></marquee></p>
	</div>
	
	<img src="https://i.postimg.cc/hPCpYZcy/pongalsale.png" width="883px" height="278px" align="left">
	<img src="https://i.postimg.cc/xThyS5Rf/sweetgirl.jpg" width="450px" height="278px" align="right">

	<!------------------------------------------swipejs web-------------------------------->
	<!-- Slider main container -->
    <div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
	  <!-- Slides -->
	  <div class="swiper-slide"><img src="https://i.postimg.cc/JhBdNSdk/childeatsweet.jpg" width="600" height="300"><img src="https://i.postimg.cc/13FzL387/allsweets.jpg" width="749" height="300"></div>
	  <div class="swiper-slide"><img src="https://i.postimg.cc/y6fyLs3S/strpimg.webp" width="1349" height="300"></div>
	  <div class="swiper-slide"><img src="https://picsum.photos/id/42/1349/300"></div>
	  <div class="swiper-slide"><img src="https://picsum.photos/id/63/1349/300"></div>
	  <div class="swiper-slide"><img src="https://picsum.photos/id/113/1349/300"></div>
	  ...
	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
  
	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
  
	<!-- If we need scrollbar -->
	<div class="swiper-scrollbar"></div>
    </div>
	<!--------------------------------------------------------------------------------------->

	<!-- Event_Listener -->
	<div class="bottomdesign">
		<input type="submit" value="click Me" id="clickme" name="clickme">
	</div>

	&emsp;
	<h3> SWEETS CATEGORY :</h3>
	<div class="sweets">
	<div class="angry-grid">

		<figure>
			<div id="item-0">
               <img src="https://i.postimg.cc/hv4r5YMM/gulabjamun.jpg" width="326px" height="260px">
	           <div id="item-2">Gulabjamun Price: Rs.100/250g</div>
            </div>
		</figure>

	    <figure>
			<div id="item-1">
	        <img src="https://i.postimg.cc/jqDxm4kd/sonbabdy.jpg" width="326px" height="260px">
			<div id="item-3">Soan Papdy price: Rs.99/1kg</div>
		    </div>
		</figure>

		<figure>
			<div id="item-4">
	        <img src="https://i.postimg.cc/L4yBsNxK/laddu.jpg" width="326px" height="260px">
			<div id="item-6">Laddu price: Rs.99/1kg</div>
		    </div>
		</figure>

		<figure>
			<div id="item-5">
	        <img src="https://i.postimg.cc/fLC7mKZd/kajukattly.jpg" width="326px" height="260px">
			<div id="item-7">kajukattly price: Rs.99/250g</div>
		    </div>
		</figure>

    </div>
    </div>
	<iframe width="673" height="315" src="https://youtube.com/embed/nIjoVNkDnRA?end=96&playlist=nIjoVNkDnRA&loop=1&autoplay=1&rel=0&autohide=0&mute=1&controls=0&enablejsapi=0&showinfo=0" name="youtube embed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
	<iframe width="672" height="315" src="https://www.youtube.com/embed/HmBtqChY88c?start=4&playlist=HmBtqChY88c&loop=1&autoplay=1&rel=0&autohide=0&mute=1&controls=0&enablejsapi=0&showinfo=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

